 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$lightBlue:HSLA(185, 100%, 46%, 1);
$darkBlue:HSLA(184, 100%, 42%, 1);
$borderColor:HSLA(185, 100%, 38%, 1);

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  text-align:center;
  overflow: auto;
  padding:30px;
}

.accordion {
width: 500px;
display:inline-block;
margin: 0 auto;
border:1px solid $borderColor;


  .closedBox {
  float: left;
  overflow: hidden;
  padding:0px;


    h2 {
      background-color:$lightBlue;
      text-align:left;
      color:white;
      font-size:20px;
      line-height:.9;
      display:block;
      padding:20px;
      margin:0;
      border-bottom:1px solid $borderColor;
    }

    .boxText {
      color: lightgray;
      height: 0px;
      margin:0;
      padding:0;
      transition:height 1s ease;
      transition:padding 1s linear;
      p {
        display: inline;
      }
    }
  }

  .clickedBox {

    h2{
      background-color:$darkBlue;
    }
    .boxText {
      height: 250px;
      margin:0;
      padding:20px;
      transition:height 1s ease;
    }
  }
}
